<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/landing.css" rel="stylesheet">
  <title>Do You Know Me?</title>
</head>

<body>
<div>
	
<h1>What Is Your Name?</h1>	
<input type="text">
<br>
<button type="button">-></button>
	</div>
</body>

</html>