<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="/css/create.css" rel="stylesheet">
  <title>Do You Know Me?</title>
</head>
 
<body>
  <div class="d-flex flex-column content">
     <form action="/create" method="POST">
    <div class="form-group inputs" id="nameinput">
      <label for="name">What is your name?</label>
      <input type="text" class="form-control" name="name" placeholder="Your Name" autofocus>
    </div>
		 
	 <div class="form-group inputs" id="question1input">
      <label for="question1">Type the first question</label>
      <input type="text" class="form-control" placeholder="Question 1" name="question1">
    </div>
		 
	<div class="form-group inputs" id="question1RAinput">
      <label for="question1RA">Type the correct answer</label>
      <input type="text" class="form-control" placeholder="Question 1 Correct Answer" name="question1RA">
    </div>
		 
	<div class="form-group inputs" id="question1FA1input">
      <label for="question1FA1">Type the first incorrect answer</label>
      <input type="text" class="form-control" placeholder="Question 1 Incorrect Answer" name="question1FA1">
    </div>
		 
	<div class="form-group inputs" id="question1FA2input">
      <label for="question1FA2">Type the second incorrect answer</label>
      <input type="text" class="form-control" name="question1FA2" placeholder="Question 1 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question1FA3input">
      <label for="question1FA3">Type the third incorrect answer</label>
      <input type="text" class="form-control" name="question1FA3" placeholder="Question 1 Incorrect Answer">
    </div>	 
		 
	 <div class="form-group inputs" id="question2input">
      <label for="question2">Type the second question</label>
      <input type="text" class="form-control" name="question2" placeholder="Question 2">
    </div>
		 
	<div class="form-group inputs" id="question2RAinput">
      <label for="question2RA">Type the correct answer</label>
      <input type="text" class="form-control" name="question2RA" placeholder="Question 2 Correct Answer">
    </div>
		 
	<div class="form-group inputs" id="question2FA1input">
      <label for="question2FA1">Type the first incorrect answer</label>
      <input type="text" class="form-control" name="question2FA1" placeholder="Question 2 Incorrect Answer" >
    </div>
		 
	<div class="form-group inputs" id="question2FA2input">
      <label for="question2FA2">Type the second incorrect answer</label>
      <input type="text" class="form-control" name="question2FA2" placeholder="Question 2 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question2FA3input">
      <label for="question2FA3">Type the third incorrect answer</label>
      <input type="text" class="form-control" name="question2FA3" placeholder="Question 2 Incorrect Answer">
    </div>
		 		 
		 
	 <div class="form-group inputs" id="question3input">
      <label for="question3">Type the third question</label>
      <input type="text" class="form-control" name="question3" placeholder="Question 3">
    </div>
		 
	<div class="form-group inputs" id="question3RAinput">
      <label for="question3RA">Type the correct answer</label>
      <input type="text" class="form-control" name="question3RA" placeholder="Question 3 Correct Answer">
    </div>
		 
	<div class="form-group inputs" id="question3FA1input">
      <label for="question3FA1">Type the first incorrect answer</label>
      <input type="text" class="form-control" name="question3FA1" placeholder="Question 3 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question3FA2input">
      <label for="question3FA2">Type the second incorrect answer</label>
      <input type="text" class="form-control" name="question3FA2" placeholder="Question 3 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question3FA3input">
      <label for="question3FA3">Type the third incorrect answer</label>
      <input type="text" class="form-control" name="question3FA3" placeholder="Question 3 Incorrect Answer">
    </div>
		 
	 <div class="form-group inputs" id="question4input">
      <label for="question4">Type the fourth question</label>
      <input type="text" class="form-control" name="question4" placeholder="Question 4">
    </div>
		 
	<div class="form-group inputs" id="question4RAinput">
      <label for="question4RA">Type the correct answer</label>
      <input type="text" class="form-control" name="question4RA" placeholder="Question 4 Correct Answer">
    </div>
		 
	<div class="form-group inputs" id="question4FA1input">
      <label for="question4FA1">Type the first incorrect answer</label>
      <input type="text" class="form-control" name="question4FA1" placeholder="Question 4 Incorrect Answer" >
    </div>
		 
	<div class="form-group inputs" id="question4FA2input">
      <label for="question4FA2">Type the second incorrect answer</label>
      <input type="text" class="form-control" name="question4FA2" placeholder="Question 4 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question4FA3input">
      <label for="question4FA3">Type the third incorrect answer</label>
      <input type="text" class="form-control" name="question4FA3" placeholder="Question 4 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question5input">
      <label for="question5">Type the last question</label>
      <input type="text" class="form-control" name="question5" placeholder="Question 5">
    </div>
		 
	<div class="form-group inputs" id="question5RAinput">
      <label for="question5RA">Type the correct answer</label>
      <input type="text" class="form-control" name="question5RA" placeholder="Question 5 Correct Answer">
    </div>
		 
	<div class="form-group inputs" id="question5FA1input">
      <label for="question5FA1">Type the first incorrect answer</label>
      <input type="text" class="form-control" name="question5FA1" placeholder="Question 5 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question5FA2input">
      <label for="question5FA2">Type the second incorrect answer</label>
      <input type="text" class="form-control" name="question5FA2" placeholder="Question 5 Incorrect Answer">
    </div>
		 
	<div class="form-group inputs" id="question5FA3input">
      <label for="question5FA3">Type the third incorrect answer</label>
      <input type="text" class="form-control" name="question5FA3" placeholder="Question 5 Incorrect Answer">
    </div>
	
	<div class="inputs">
      <input type="number" class="form-control" name="pin" id="pinCreation">
		 </div>
		 
	<img id="nextBtn" src="../img/right-arrow-button.png">
    <button type="submit" class="inputs" id="final"><img src="../img/right-arrow-button.png"></button>
  </form>

    <br>
  </div>
</body>

</html>
<script src="js/create.js"></script>