<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/landing.css" rel="stylesheet">
  <link rel = "icon" href = "../img/favicon.png"> 
  <title>Do U Know Me?</title>
</head>

<body>
  <div class="d-flex flex-column">
    <h1>Do U Know Me?</h1>
    <form action="/takeInpt" method="POST">
      <input type="text" class="form-control align-middle" id="pin" placeholder="pin" required name="pin">
      <a href="/create"><input type="button" value="Create Quiz" id="create" class="btn"></a>
      <br>
      <button type="submit" class="btn">Take Quiz</button>
      <br>
      <button type="submit" class="btn" onclick='this.form.action="resultsInpt";'>Results</button>
    </form>
    <h5>Use pin 1174 to test it out!</h5>
  </div>
</body>

</html>